{% comment %}
For 2-day all-day events, the end date needs to be a day later.
from here: https://stackoverflow.com/a/37659516/1113276
{% endcomment %}

{% assign final_day = page.enddate | date: '%s' | plus:86400 | date: '%F' | replace: "-", "" %}

<a href="/assets/ics/CDI Carpentries Workshop - Introduction Session for Introduction to R Workshop.ics">Download ICS file for Intro Session to import into Outlook.</a>
<a href="/assets/ics/CDI Carpentries Workshop - Introduction to R.ics">Download ICS file for Workshop to import into Outlook.</a>
