{% comment %}
For 2-day all-day events, the end date needs to be a day later.
from here: https://stackoverflow.com/a/37659516/1113276
{% endcomment %}

{% assign final_day = page.enddate | date: '%s' | plus:86400 | date: '%F' | replace: "-", "" %}

<br>

<a href="https://doimspp-my.sharepoint.com/:u:/g/personal/sformel_usgs_gov/EcXSCO9ubu1Iie2tuYNfg8IBLDOYZZzob2Pfdnwk5q5UDg?e=vzdDpp">Download ICS file for Intro Session to import into Outlook.</a>

<br>

<a href="https://doimspp-my.sharepoint.com/:u:/g/personal/sformel_usgs_gov/EXux4EWihwRNkgMu2Ri0DBIBadT3k5oWDH_rlJTjPFG5vw?e=WBzKM2">Download ICS file for Workshop to import into Outlook.</a>
