<div id="editor">
  <h3>USGS Software Installation</h3>

  <p>
Make sure you have the necessary <strong>software installed on your machine ahead of the introduction session on Monday, March 3.<strong> 
<br>
We will also use the introduction session as a chance for participants to ask questions about their setups. The setup instructions can be found within <a href = "https://sformel-usgs.github.io/2025-03-03-CDI_intro_to_R_workshop/#setup">the setup section of March workshop website</a>. We've asked the USGS Service Desk to add you to the appropriate software center groups so that you can download the software needed for the workshop. If you do not see R, RStudio, or Git Bash listed in your software center, please reach out to the USGS Service Desk as soon as possible.  </p>
  </p>
</div>